<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Snow Pack</title>
    <link rel="stylesheet" href="/static/css/main.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  </head>
  <body>
    <script src = "scripts.js"></script>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">SNOW PACK</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link" aria-current="page" href="/">HOME</a>
            <a class="nav-link active" href="#">WEATHER</a>
            <a class="nav-link" href="#">ABOUT US</a>
          </div>
        </div>
      </div>
    </nav>
    <!-- ========== Head Weather Card Section ========== -->
    <div class="weather-head">
      <div class="container-fluid">
        <div class="row">
          <div class="col-lg-12 rounded shadow">
            <div class="text-center">
              <div class="title">
                <h2>You have entered the weather zone</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- ========== End Section ========== -->
    <div class="weather-zone">
      <div class="container-fluid">
        <div class="row">
          <div class="temp-info p-3 m-2 col-md-auto rounded shadow">
            <h1>20°F</h1>
          </div>
          <div class="weather-desc col p-3 m-2 col rounded shadow">Expect a cloudy day with light winds and temperatures hovering around 20°F (-6°C). Conditions on the mountain will be packed powder, with a few scattered areas of ice.</div>
        </div>
        <div class="row">
          <div class="temp-info p-3 m-2 col-md-auto rounded shadow">
            <h1>16°</h1>
          </div>
          <div class="weather-desc col p-3 m-2 col rounded shadow"> A low-pressure system moves in, bringing heavy snowfall and gusty winds. Temperatures will be in the mid-teens (-9°C), but wind chill will make it feel much colder. Expect whiteout conditions on the mountain, with several inches of fresh powder.</div>
        </div>
        <div class="row">
          <div class="temp-info p-3 m-2 col-md-auto rounded shadow">
            <h1>12°F</h1>
          </div>
          <div class="weather-desc col p-3 m-2 col rounded shadow"> The snowfall tapers off, but temperatures remain frigid, with highs only reaching the low teens (-11°C). Winds will be light to moderate, and the snow will be light and fluffy, making for excellent powder conditions.</div>
        </div>
        <div class="row">
          <div class="temp-info p-3 m-2 col-md-auto rounded shadow">
            <h1>28°F</h1>
          </div>
          <div class="weather-desc col p-3 m-2 col rounded shadow"> A sunny day is in store, with temperatures climbing to the upper 20s (-2°C). Winds will be calm, and conditions on the mountain will be packed powder with some areas of soft snow. Perfect weather for cruising the groomers!</div>
        </div>
        <div class="row">
          <div class="temp-info p-3 m-2 col-md-auto rounded shadow">
            <h1>21°F</h1>
          </div>
          <div class="weather-desc col p-3 m-2 col rounded shadow"> A new system moves in, bringing moderate snowfall and winds gusting up to 20 mph (32 km/h). Temperatures will be in the low 20s (-5°C), and conditions on the mountain will be powder to packed powder, with a few icy patches.</div>
        </div><div class="row">
          <div class="temp-info p-3 m-2 col-md-auto rounded shadow">
            <h1>11°F</h1>
          </div>
          <div class="weather-desc col p-3 m-2 col rounded shadow"> Snow continues to fall, with several inches expected throughout the day. Temperatures will be in the teens (-9°C), and winds will be moderate to strong. Expect excellent powder conditions, but be sure to bundle up!</div>
        </div>
      </div>
    </div>
    <!--====== ABOUT TWO PART ENDS ======-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
  </body>
</html>
